.main {
    flex-grow: 1;
    padding-top: 32px;
}

.container {
    max-width: 576px;
    margin: 0 auto;
}

.main__wrapper {
    padding-left: 24px;
    margin-bottom: 40px;
}

.main__paragraph {
    font-size: 16px;
    font-family: sans-serif;
}

.main__title {
    margin: 0 0 24px 0;
}

h1.title {
    font-size: 36px;
    font-family: sans-serif;
}
h2.title {
    font-size: 24px;
    font-family: sans-serif;
}

.main .list-main {
    margin-bottom: 24px;
}
